<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <h1 class="page-title">{{ "Sravan Patchala" }}</h1>
        <nav class="navbar">
            <a href="/">About</a>
            <a href="/research/">Scholarly Work</a>
            <a href="/online-presence/">Online Presence</a>
            <a href="/contact/">Contact</a>
        </nav>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <div class="footer">
        <p>&copy; 2024 Sravan Patchala. All rights reserved.</p>
    </div>
</body>
</html>